[Unit]
Description=Battery notification service

[Service]
Type=exec
ExecStart=-bash -c "CHARGING_STATUS=$$(cut -c 1 /sys/class/power_supply/BAT0/status) && ! systemctl --user show-environment | grep -q -- CHARGING_STATUS=$$CHARGING_STATUS && systemctl --user set-environment CHARGING_STATUS=$$CHARGING_STATUS && ~/.local/bin/notify.sh battery $$CHARGING_STATUS"

[Install]
WantedBy=default.target
