[Unit]
Description=Battery notification timer
ConditionPathIsDirectory=/sys/class/power_supply/BAT0

[Timer]
AccuracySec=1s
OnStartupSec=10s
OnUnitActiveSec=5s

[Install]
WantedBy=timers.target
