@import "keyboard.rasi"
@import "mouse.rasi"
@theme "theme.rasi"

configuration {
    case-sensitive: false;
    disable-history: false;
    dpi: 0;
    drun-display-format: "{name}";
    drun-match-fields: "name,exec";
    icon-theme: "Papirus";
    matching: "normal";
    max-history-size: 10;
    modi: "drun,power";
    monitor: -1;
    normalize-match: false;
    sidebar-mode: false;

    entry {
        max-history: 0;
    }
}
