configuration {
    ml-row-left: "";
    ml-row-right: "";
    ml-row-up: "ScrollUp";
    ml-row-down: "ScrollDown";
    me-select-entry: "MousePrimary";
    me-accept-entry: "MouseDPrimary";
    me-accept-custom: "";
}
